.login-box {
	display: flex;
	flex-direction: column;
	grid-column: 2/3;
	grid-row: 2/3;

	h1 {
		margin-bottom: 2rem;
	}
}

.login-box-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.9rem;
	margin-top: 0.5rem;
	span {
		color: #999999;
	}

	a {
		color: white;
	}
}
