.login-container {
	display: flex;
	background: url('https://noticiasdatv.uol.com.br/media/_versions/artigos_2021/casimiro-miguel-sbt-tnt-sports-reproducao-twitch-grande_PEzh2EU_fixed_large.jpg')
		no-repeat center;
	background-size: cover;
	min-height: 100vh;
	color: white;
}

.login-form {
	display: grid;
	justify-content: center;
	align-items: center;
	margin: auto;
	background: rgba(0, 0, 0, 0.7);
	width: 30rem;
	height: 35rem;
}
