.rsu-container {
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
	margin-right: 0.5rem;
	gap: 1.5rem 0;
	transition: 0.2s ease-in-out;
}

.rsu-card {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 85%;
	filter: brightness(0.3);
	cursor: pointer;
	transition: 0.5s ease-in-out;
	padding: 0 0.5rem;

	img {
		border-radius: 10px;
		transition: 0.2s ease-in-out;
	}

	p {
		display: none;
		color: #999999;
		font-size: 0.8rem;
	}

	&:hover {
		filter: initial;
		transition: 0.2s ease-in-out;

		.rsu-container {
			svg {
				display: none;
			}
		}

		p {
			display: inherit;
			color: white;
		}
	}
}

.rsu-previousButton {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 10;
	position: absolute;
	width: 5rem;
	height: 1rem;
	opacity: 0.5;
	top: calc(10vh + 4rem);

	svg {
		transition: 0.2s ease 0s;
	}

	&:hover {
		opacity: 1;
		svg {
			height: 2.5rem;
			width: 2.5rem;
			transition: 0.2s ease 0s;
		}
	}
}
.rsu-nextButton {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 10;
	position: absolute;
	width: 5rem;
	height: 1rem;
	opacity: 0.5;
	top: calc(70vh + 4rem);

	svg {
		transition: 0.2s ease 0s;
	}

	&:hover {
		opacity: 1;
		svg {
			height: 2.5rem;
			width: 2.5rem;
			transition: 0.2s ease 0s;
		}
	}
}
