.rsu-container {
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
	margin-right: 0.5rem;
	gap: 1.5rem 0;
	transition: 0.2s ease-in-out;
	height: calc(100vh - 4rem);
	overflow: auto;

	&::-webkit-scrollbar {
		width: 0px;
	}
}

.rsu-card {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 85%;
	filter: brightness(0.3);
	cursor: pointer;
	transition: 0.5s ease-in-out;
	padding: 0 0.5rem;

	img {
		border-radius: 10px;
		transition: 0.2s ease-in-out;
	}

	p,
	span {
		display: none;
		color: #999999;
		font-size: 0.8rem;
	}

	&:hover {
		filter: initial;
		transition: 0.2s ease-in-out;

		.rsu-container {
			svg {
				display: none;
			}
		}

		p,
		span {
			display: inherit;
			color: white;
		}
	}
}
