.trending-content {
	display: flex;
	flex-direction: column;
	color: white;

	.tc-title {
		margin: 1rem 0;
	}
}

.tc-mainContent {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.backCardImage {
	height: 20rem;
	border-radius: 10px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	transition: 0.2s ease-in-out;

	&:hover {
		background-size: 105%;
		transition: 0.2s ease-in-out;
	}
}
.backCardImage2 {
	height: 20rem;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.tc-mc-mainCard {
	display: flex;
	width: 40rem;
	color: white;
	gap: 1.5rem;
	height: 20rem;
	padding: 1rem 2rem;
	border-radius: 10px;
	background-size: cover;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(1px) brightness(0.3);
	transition: 0.2s ease-in-out;
	cursor: pointer;

	img {
		max-width: 12rem;
		height: 100%;
		border-radius: 10px;
		transition: 0.2s ease-in-out;
	}

	&:hover {
		backdrop-filter: blur(3px) brightness(0.3);
	}
}

.tc-mc-mc-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 95%;

	h1,
	p,
	div {
		margin-top: auto;
	}

	h1 {
		padding: 0;
	}

	.tc-mc-mc-d-description {
		font-size: 0.9rem;
	}
}

.tc-mc-mc-d-genres {
	display: flex;
	gap: 0 0.4rem;

	p {
		display: flex;
		padding: 0.3rem 0.4rem;
		font-size: 0.7rem;
		justify-content: center;
		align-items: center;
		background: rgba(255, 255, 255, 0.2);
	}
}

.tc-mc-mc-d-buttons {
	display: flex;
	gap: 0 3rem;

	button {
		color: white;
		outline: none;
		border: transparent;
		border-radius: 5px;
		padding: 0.8rem 1.6rem;
		background: rgba(255, 255, 255, 0.4);
		border: 1px solid transparent;

		cursor: pointer;

		&:hover {
			box-sizing: border-box;
			border: 0.1px solid white;
			background: rgba(255, 255, 255, 0.15);
		}
	}
}

.tc-mc-miniCard {
	display: flex;
	height: 20rem;
	width: 17rem;
	padding: 1rem 2rem;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	align-content: center;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(3px) brightness(0.3);

	img {
		filter: blur(0.8px);
	}
}

.selectCardButton {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 10;
	top: 0;
	left: 0;
	position: absolute;
	width: 3rem;
	height: 100%;
	opacity: 0.5;

	svg {
		height: 2rem;
		width: 2rem;
		fill: white;
		transition: 0.2s ease 0s;
	}

	&:hover {
		opacity: 1;
		svg {
			height: 2.5rem;
			width: 2.5rem;
			transition: 0.2s ease 0s;
		}
	}
}
.selectCardButton2 {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 10;
	top: 0;
	right: 0;
	position: absolute;
	width: 3rem;
	height: 100%;
	opacity: 0.5;

	svg {
		height: 2rem;
		width: 2rem;
		fill: white;
		transition: 0.2s ease 0s;
	}

	&:hover {
		opacity: 1;
		svg {
			height: 2.5rem;
			width: 2.5rem;
			transition: 0.2s ease 0s;
		}
	}
}
