header {
	display: grid;
	width: 100vw;
	grid-template-columns: 17% 66% 17%;
	height: 8vh;
	background-color: #19161f;
}

.header-logo {
	display: flex;
	align-items: center;
	margin-left: 2rem;
	font-size: 1.5rem;
	font-weight: 900;

	a {
		color: white;
	}
}

.header-nav {
	display: flex;
	align-items: center;
	padding: 0 1rem;
	gap: 2rem;
}

.header-nav a {
	font-size: 1.1rem;
	color: #656565;
}

.header-nav a.active {
	color: white;
}
