header {
	display: grid;
	width: 100vw;
	grid-template-columns: 17% 66% 17%;
	height: 8vh;
}

.header-logo {
	display: flex;
	align-items: center;
	margin-left: 2rem;
	font-size: 1.5rem;
	font-weight: 900;

	a {
		color: white;
	}
}

.header-nav {
	display: flex;
	align-items: center;
	padding: 0 1rem;
	gap: 2rem;
}

.header-nav a {
	font-size: 1.1rem;
	color: #656565;
}

.headerExit {
	display: flex;
	justify-content: end;
	padding: 0 4rem;
	align-items: center;
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: #656565;

		svg {
			padding-right: 0.2rem;
			height: 1rem;
			width: 1rem;
		}
	}
}
