@import '../Style/Colors.scss';
@import '../Pages/Login/Login.scss';
@import '../Pages/Login/LoginPage/LoginPage.scss';
@import '../Pages/Login//LoginSignup/LoginSignup.scss';
@import '../Pages/Home/Home.scss';
@import '../Pages/Home/Main/MainHome.scss';
@import '../Components/CustomButton/Button.scss';
@import '../Components/CustomInput/Input.scss';
@import '../Components/Header/Header.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap');

.title {
	line-height: 1;
	font-size: 2rem;
	margin: 1rem 0;
}

.App {
}
