.mainHome-container {
	display: grid;
	grid-template-rows: 23rem auto;
}

.trending-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem 0;
	padding: 0.5rem 0rem 0.5rem 2rem;
	background-color: lightcoral;

	.containerC {
		display: grid;
		grid-template-columns: 90% auto;
	}

	.trending-card {
		display: flex;
		padding: 2rem;
		align-items: center;
		width: 40rem;
		height: 18rem;
		background-color: lightblue;
		border-radius: 15px;
		gap: 0 2.5rem;

		.card-poster {
			height: 100%;
			width: 30%;
			border-radius: 20px;
			background-color: lightgreen;
		}

		.card-description {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		div {
			display: flex;
			justify-content: space-between;
		}
	}
}

.trending-miniCard {
	display: flex;
	width: 20rem;
	background-color: lightsalmon;
}
